.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  width: 400px;
  background: white;
  margin: 70px auto;
  border-radius: 10px;
  padding: 20px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;   
  background: linear-gradient(-45deg,red);
}

a{
  text-decoration: none;
}
